<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>News Overview</title>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    
    <div class="container">
      <div class="jumbotron">
      <h1> News Overview </h1>
      <h2> A project dedicated to collecting top headlines and showing
           media sources' possible biases all in one place. </h2>
           </br>
           <h3> Each button represents an article from the news source
                shown. Click for more information. </h3>
      </div>

      <div class="row bias-row">
        <!-- filler column 1-2 -->
        <div class="col-md-2">
        </div>
        <!-- strong left -->
        <div class="col-md-1">
          <h3>Strong Left</h3>
        </div>
        <!-- left -->
        <div class="col-md-1">
          <h3>Left</h3>
        </div>
        <!-- left center -->
        <div class="col-md-1">
          <h3>Left Center</h3>
        </div>
        <!-- least bias -->
        <div class="col-md-2">
          <h3>Least Bias</h3>
          <!-- ruby code -->
          <% @articles.each do |article| %>
            <% if (article["source"]["id"] == "associated-press") then %>
                <button class="btn" type="button">
                 <%= article["source"]["name"] %>
                </button>
                <br>
                <% end %>
                
            <% end %>
        </div>
        <!-- right center -->
        <div class="col-md-1">
          <h3>Right Center</h3>
        </div>
        <!-- right -->
        <div class="col-md-1">
          <h3>Right</h3>
        </div>
        <!-- strong right -->
        <div class="col-md-1">
          <h3>Strong Right</h3>
        </div>
        <!-- filler column 11-12 -->
        <div class="col-md-2">
        </div>
      </div>



      









 <!--      <h5> Please select a news site: </h5>
      <select class="selectpicker" name="site" form="siteform">
        <option value="select">select</option>
        <option value="ign">IGN</option>
        <option value="polygon">Polygon</option>
        <option value="techradar">TechRadar</option>
        <option value="mashable">Mashable</option>
        <option value="ew">Entertainment Weekly</option>
      </select>
      
      
      <form method="POST" action="results" id="siteform"> -->

        <!--<input type="submit" value="Submit">-->
     <!--    <br>
        <input class="btn btn-primary" type="submit" value="Submit">
      </form> -->

    

    </div>
    
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>

  </body>
</html>