@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Sumana');

body {
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Sumana', serif;*/
    background-color: white;
    font-family: 'Roboto';
}

a {
    color: #9986a8;
}

.jumbotron {
    background-color: #e2e2e2;
}

.jumbotron h1 {
    font-family: 'Sumana', serif;
    font-size: 85px;
}

.jumbotron h2 {
    font-family: 'Sumana', serif;
    font-size: 40px;
}

.btn {
    white-space: normal;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
}

.bias-row {
    background-color: grey;
    
    text-align: center;
    
    border-radius: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.bias-row h3 {
    font-style: bold;
}

.footer {
    text-align: center;
    background-color: #e2e2e2;
    
    border-radius: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    
    margin-top: 30px;
    margin-bottom: -10px;
}