@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Sumana');

body {
    background-color: white;
    background-image: url("../images/bg.png");
    
    font-family: 'Roboto';
}



a {
    color: #9177a5;
}

.btn .tn-img {
    height: 60px;
    margin-bottom: 10px;
}

.jumbotron {
    background-color: #eee;
}

.jumbotron h1 {
    font-family: 'Sumana', serif;
    font-size: 85px;
}

.jumbotron h2 {
    font-family: 'Sumana', serif;
    font-size: 40px;
}

.btn {
    white-space: normal;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.bias-row {
    background-color: #eee;
    
    text-align: center;
    
    border-radius: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.bias-row h3 {
    font-style: bold;
}

.footer {
    text-align: center;
    background-color: #eee;
    
    border-radius: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    
    margin-top: 30px;
    margin-bottom: -10px;
}

.left {
    background-color: #7c91b7;
    border-radius: 5px;
    padding-bottom: 130px;
}

.left-center {
    background-color: #9098a8;
    border-radius: 5px;
    padding-bottom: 130px;
}

.least-bias {
    background-color: #aaa;
    border-radius: 5px;
}

.right-center {
    background-color: #a89090;
    border-radius: 5px;
}

.right {
    background-color: #ad6b6b;
    border-radius: 5px;
}

#modalTitle{
    font-family: 'Sumana', serif;
}

.modal-body{
    font-family: 'Roboto';
}