body {
    background-color: #91b0e2;
}

.btn {
    white-space: normal;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 12px;
}

.bias-row {
    background-color: grey;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}



